* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Regular.woff);
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Bold.woff2);
    font-weight: 700;
  }
  
  @media (min-width: 1200px) {

  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .header {
    position: relative; 
    min-width: 1200px;
    background: url(../images/banner-bg.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 140px;
  }
  
  .header::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: #000;
    opacity: .5;
  }
  
  .header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1;
    position: relative;
  }
  
  .logo {
    width: 182px;
  }
  
  .nav-list {
    display: flex;
    
  }
  
  .nav-item {
    justify-content: space-between;
    
    font-size: 13px;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
  }
  
  .nav-item:not(:last-child) {
    margin-right: 35px;
  }
  
  .nav-item a {
    color: #fff;
    text-transform: uppercase;
}
  
  .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 1.6;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;

    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    position: relative;
    z-index: 1;
    
    margin-top: 190px;
  }
  
  /* new-block */
  .article-new-block {
      margin-top: 25px;
  }

  .new-block {
      text-align: center;
      padding-top: 65px;
      padding-bottom: 25px;
      margin-bottom: 0;
  }


  .blog-news {
    min-width: 1200px;
    display: flex;  
    flex-direction: row;

  }

  .blog-news-trend1 {
      background-image: url(../images/trend1.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .blog-news-trend2 {
      background-image: url(../images/trend2.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .blog-news-trend3 {
    background-image: url(../images/trend3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-news-trend4 {
    background-image: url(../images/trend4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-news-title {
    display: flex;
    align-items: flex-end;
    position: relative;
    min-height: 320px;
    width: 24.5%;
}

.blog-news-title::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #000;
    opacity: .5;
}

.blog-news-title:not(:last-child) {
    margin-right: .5%;
}

.blog-news-title-link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 2px solid #b59f5b;

    z-index: 1;
}

.blog-news-header {
    display: flex;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Open Sans";   
}

  /* section-main */
  
  .container {
    display: flex;
    max-width: 1200px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main {   
    padding-left: 15px;
  }
  
  .main-list-item {
    display: flex;

  }

  .main-list-item:not(:first-child) {
    margin-top: 60px;
  }
  
  .main-list-item img {
    width: 380px;
  }
  
  .main-content {
    
    margin-left: 30px;
    
  }
  
  .list-link {
   display: flex; 
  }
  
  .link {
    
    font-size: 14px;
    text-transform: uppercase;
     
    font-weight: 700;
    font-family: "Open Sans";
  }

  .link:not(:last-child) {
    margin-right: 20px;
  }
  
  .link a {
    color: #b59f5b;
  }
  
  .caption {
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    margin-top: 17px;
    margin-bottom: 35px;
  }
  
  .date {
    font-size: 12px;
    margin-right: 13px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
  }
  
  .author {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
  }
  
  .text {
    margin-top: 50px;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
  }
  
  .text2 {
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
  }
  
  /* section-1 */
  .section1 {
    margin-left: 120px;
    width: 285px;
    padding-right: 15px;
  }
  
  .headline {
    position: relative;
    text-align: center;
    padding-bottom: 13px;
    margin-bottom: 0;
    font-family:" Open Sans";
    font-weight: 700;
    line-height: 1.3;
  }
  
  .headline::after{
    content:"";
    display: block;
    position: relative;
    bottom:0; 
    width: 65px;
    height:2px;
    
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
    background-color: #b59f5b;
  
  }
  
  .list-small-item {
    display: flex;
  }
  
  .list-small-item:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .list-small-item img {
    width: 70px;
  }
  
  .aside-content {
    margin-left: 20px;
    padding-top: 0;
  }

  .aside-content > .date {
    margin-right: 0;
  }
  
  .medium {
    font-size: 14px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
  }
  
  /* section-search */

 .subscribe {
  margin-top: 60px;
 }

  .btn-form {
    display: flex;
    width: 100%;

  }
  
  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  } 
  
  .btn-box {
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    width: 222px;
    height: 47px;
    font-size: 13px;
    border: none;
    background-color:#f4f7f6;
  }
  
  .btn-search {
    border: none;
    width: 47px;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color:#b59f5b;
  }
  
  /* section-link */
  .section-link {
    margin-top: 60px;
  }
  
  .adress-name {  
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 23px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color:#f4f7f6;
  }
  
  .btn-adress {
    width: 100%;
    font-size: 14px;
    margin-top: 17px;
    color: #fff;
    background-color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: uppercase;
    height: 48px;
    border: none;
  }
  
  /* section-list */
  
  .section-list {
    margin-top: 60px;
  }
  
  .section-list-link {
    display: flex;
    flex-wrap: wrap;
  
    
  }
  
  .section-list-item {
    border: 3px solid #ededed;
    width: auto;
    margin-bottom: 5px;
    
  }
  
  .section-list-item:not(:last-child) {
    margin-right: 3px;
  }
  
  
  .list-content-item {
    display: block;
    padding: 7px 11px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans";
  }
  /* section-sidebar */
  
  .sidebar {
    margin-top: 60px;
  }
  
  .sidebar-item {
    padding-top: 19px;
    padding-bottom: 17px;
    border-bottom: 1px solid #eeeeee;
  }
  
  .sidebar-link {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
  
  }
  
  .link-small {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    vertical-align: top;
  }
  
/* bottom block */
.bottom-block {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  
}


.bottom-block-list {
  display: flex;

}

.bottom-block-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 32%;
   
}

.bottom-block-item::after {
  position: absolute;
  content: '';
  top: 170px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #b59f5b;
}

.bottom-block-item:not(:last-child) {
  margin-right: 2%;
} 

.bottom-block-text {
  padding-left: 2em;
  padding-right: 2em;
  min-height: 260px;
  z-index: 2;
}

div a {
  color: #b59f5b;
}

.bottom-block-shop {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
}

.bottom-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.old-price {
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 700;
}

.new-price {
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 700;
}

.btn-shop {
  display: flex;
  justify-content: flex-end;
}

.btn-shop-link {
  background-color: #b59f5b;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em;
  border: none;
}
  /* footer */
  
  .footer {
    width: 1170px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px;
    background-color: #f4f7f6;
  }
  
  .footer-list {
    display: flex;
    justify-content: center;
  }
  
  .footer-list-item:not(:last-child) {
    margin-right: 15px;
  }

  .footer-icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px; 
    width: 20px;
    height: 20px;
  }
  
  .footer-icon_twitter {
    background-image: url(../svg/004-twitter.svg);
  }
  
  .footer-icon_pinterest {
    background-image: url(../svg/001-pinterest.svg);
  }
  
  .footer-icon_facebook {
    background-image: url(../svg/002-facebook-logo.svg);
  }
  
  .footer-icon_instagramm {
    background-image: url(../svg/005-instagram.svg);
  }
  
  .footer-icon_tamblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  
  .footer-inner {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  

  
  /* copyright */
  
  .copyright {
    margin-top: 72px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans";
  }
  
  .copyright-link {
    display: inline-block;
    color: #999999;
  }
}

/* popup */

.popup-wrapper {
  position: fixed;
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.back-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  z-index: 1;
}

.popup {
  position: relative;
  width: 390px;
  text-align: left;
  background-color: #fff;
  z-index: 2;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
}

.popup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  top: -5%;
  right: 1%;
  z-index: 3;
}

.headline-popup {
  position: relative;
  text-align: center;
  padding-bottom: 13px;
  margin-bottom: 0;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.3;
}

.headline-popup::after{
  content:"";
  display: block;
  position: relative;
  bottom:0; 
  width: 65px;
  height:2px;
  
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b59f5b;
}

.popup-form {
  margin-top: 30px;
}

.popup-form label:not(:last-child) {
  margin-bottom: 30px;
}

.popup-checked {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
}

.popup-checked input {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
  width: 100%;
  padding: 1em;
  padding-right: 30px;
  border: none;
  background: #f4f7f6 url("../svg/form-arrows.svg") 95% center no-repeat;
  background-size: 10px;
}

.popup-radio {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}

.radio-group {
  display: inline-block;
  font-size: 14px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 10px;
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;

  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  vertical-align: middle;
  margin-right: 5px;
}

.popup-content textarea {
  display: block;
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 400;
  width: 100%;
  min-height: 130px;
  padding: 1em;
  padding-right: 30px;
  resize: none;
  border: none; 
  background-color: #f4f7f6;
}

.btn-popup {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 55px;
  background-color: #b59f5b;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em;
  border: none;
}
